html, body{
    background-color: #F5F5DC;
}
h1{
    color: #0b413b;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 88vh;
}
.navbar-Container{
    display: flex;
    gap: 40px;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: #0b413b;
    height: 60px;
}
.nav{
    height: 20px;
    text-decoration: none;
    padding: 20px;
    color: #b0e1dc;
    transition: transform 0.5s ease, color 0.3s ease;
}
.nav:hover{
    color: #5A5A42;
    transform: scale(1.2);
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #A2C579;
    flex-grow: 1;
    gap: 30px;
    color: #A2C579;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E89B5A;
    height: 250px;
    width: 160px;
    border-radius: 5%;
    text-align: center;
    color: #b0e1dc;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, color 0.3s ease;
}
.card:hover{
    color: #5A5A42;
    transform: scale(1.2);
}
.cards-firstSet{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.cards-secondSet{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.footer{
    display: flex;
    border-radius: 5px;
    background-color: #0b413b;
    height: 60px;
    color: #b0e1dc;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar {
    display: none;
}